<div>
    <b-row>
        <b-col sm="2">
            <b-dropdown text="Select a table">
                <b-dropdown-item v-for="(table, index) in tables" 
                    :class="selected_index == index ? 'selected' : ''"
                    :key="index" 
                    v-on:click="select_table(table.table_name, index)">
                    {{ table.table_name }}
                </b-dropdown-item>
            </b-dropdown>
        </b-col>
    </b-row>
    <b-row v-if="current_database && selected_table">
        Selected table : {{ current_database ? selected_table : "" }}
        <i v-if="selected_table" class="fas fa-info-circle info" v-b-tooltip.hover :title="tooltip"></i>
    </b-row>
    <b-row v-if="selected_table">
        <b-tabs>
            <b-tab title="Datas">
                <b-row>
                    <b-btn sm="2" v-on:click="object_to_add = preparing_row(); adding_row = true;">Add row</b-btn>
                </b-row>
                <b-row v-if="adding_row">
                    <b-col>
                        <b-form-input v-for="(value, propertyName) in object_to_add" 
                                      type="text"
                                      v-model="object_to_add[propertyName]"
                                      :placeholder="propertyName">
                        </b-form-input>
                    </b-col>
                </b-row>
                <b-row v-if="adding_row">
                    <b-btn sm="2" v-on:click="add_row()">Save row</b-btn>
                    <b-btn sm="2" v-on:click="adding_row = false">Cancel</b-btn>
                </b-row>
                <b-row v-if="modifying_row">
                    <b-col>
                        <b-form-input v-for="(value, propertyName) in object_to_modify" 
                                        type="text"
                                        v-model="object_to_modify[propertyName]"
                                        :placeholder="propertyName">
                        </b-form-input>
                    </b-col>
                </b-row>
                <b-row v-if="modifying_row">
                    <b-btn sm="2" v-on:click="update_row()">Update row</b-btn>
                    <b-btn sm="2" v-on:click="modifying_row = false">Cancel</b-btn>
                </b-row>
                <b-row>
                    <b-table striped bordered small hover :items="elements" :fields="fields">
                        <template slot="index" slot-scope="data">
                            {{ data.index + 1 }}
                        </template>
                        <template slot="remove" slot-scope="row">
                            <i class="fas fa-minus-circle del" 
                                v-on:click="index_to_remove = row.index;" 
                                v-b-modal.deleteRow></i>
                        </template>
                        <template slot="edit" slot-scope="row">
                            <i class="fas fa-edit edit"
                                v-on:click="index_to_edit = row.index; modifying_row = true; object_to_modify = preparing_row();" 
                                v-b-modal.editRow></i>
                        </template>
                    </b-table>
                </b-row>
            </b-tab>
            <b-tab title="Structure">
                <b-row>
                    <b-button v-on:click="table_to_rename = !table_to_rename;new_table_name = selected_table;">Rename table</b-button>
                    <b-button v-on:click="column_to_add = true;">Add column</b-button>
                </b-row>
                <b-row v-if="table_to_rename">
                    <b-form @submit.prevent="rename_table(new_table_name)">
                        <b-form-input type="text" v-model="new_table_name"></b-form-input> 
                    </b-form>
                </b-row>
                <div v-if="column_to_add">
                    <b-row>
                        <b-col sm="5">Column name :</b-col>
                        <b-col sm="7"><b-form-input type="text" v-model="new_column"></b-form-input></b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="5">Column type :</b-col>
                        <b-col sm="7"><b-form-input type="text" v-model="new_type"></b-form-input></b-col>
                    </b-row>
                    <b-row>
                        <b-btn sm="2" v-on:click="add_column">Add column</b-btn>
                        <b-btn sm="2" v-on:click="column_to_add = false;">Cancel</b-btn>
                    </b-row>
                </div>
                <div v-if="edit_mode">
                    <b-row>
                        <b-col sm="5">Column name :</b-col>
                        <b-col sm="7"><b-form-input type="text" v-model="column_to_edit"></b-form-input></b-col>
                    </b-row>
                    <b-row>
                        <b-col sm="5">Column type :</b-col>
                        <b-col sm="7"><b-form-input type="text" v-model="column_to_edit_type"></b-form-input></b-col>
                    </b-row>
                    <b-row>
                        <b-btn sm="2" v-on:click="update_column(column_to_edit, column_to_edit_type)">Update column</b-btn>
                        <b-btn sm="2" v-on:click="edit_mode = false;">Cancel</b-btn>
                    </b-row>
                </div>
                <b-row>
                    <b-table striped bordered small hover :items="columns" :fields="column_fields">
                        <template slot="remove_column" slot-scope="row">
                            <i class="fas fa-minus-circle del" 
                                v-on:click="column_to_remove = row.item.Field;" 
                                v-b-modal.deleteColumn></i>
                        </template>        
                        <template slot="edit_column" slot-scope="row">
                            <i class="fas fa-edit edit" v-on:click="edit_mode = !edit_mode; old_name = row.item.Field;
                                column_to_edit = row.item.Field; column_to_edit_type = row.item.Type;"></i>
                        </template>
                    </b-table>
                </b-row>
            </b-tab>
            <b-tab title="Query">
                <b-row>
                    <b-form-textarea id="textareaQuery"
                                    v-model="query"
                                    placeholder="Enter query to execute"
                                    :rows="3"
                                    :max-rows="6">
                    </b-form-textarea>
                </b-row>
                <b-row>
                    <b-button v-on:click="execute_query()">Execute query</b-button>
                </b-row>
                <b-row>
                    <b-table striped bordered small hover :items="query_elements"></b-table>
                </b-row>
            </b-tab>
        </b-tabs>
    </b-row>
    <b-modal id="deleteRow" ref="rowConfirm" hide-footer title="Confirmation popup">
        <b-row><b-col>Are you sure to delete row {{ index_to_remove + 1 }} ?</b-col></b-row>
        <b-row class="right">
            <b-col><b-btn variant="success" v-on:click="cancel">Cancel</b-btn></b-col>
            <b-col><b-btn variant="danger" v-on:click="delete_row">Delete</b-btn></b-col>
        </b-row>
    </b-modal>
    <b-modal id="deleteColumn" ref="deleteColumn" hide-footer title="Confirmation popup">
        <b-row>
            <b-col>Are you sure to delete column "{{ column_to_remove }}" ?</b-col>
        </b-row>
        <b-row class="right">
            <b-col><b-btn variant="success" v-on:click="cancel_delete">Cancel</b-btn></b-col>
            <b-col>
                <b-btn variant="danger" v-on:click="delete_column">Delete</b-btn>
            </b-col>
        </b-row>
    </b-modal>
</div>